---
import Navbar from "../components/globals/Navbar.astro";
import Footer from "../components/globals/Footer.astro";
import ScrollToTop from "../components/globals/ScrollToTop.astro";

import "../styles/globals.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon-zraesai.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title} - Ruanjitech</title>
  </head>
  <body class="bg-slate-50 text-slate-900 overflow-x-hidden pt-20">
    <Navbar />

    <main id="main-content" class="transition-all duration-700 ease-in-out">
      <slot />
    </main>

    <ScrollToTop client:load />

    <Footer />
  </body>
</html>
